<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">New status</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= label_tag :name %>
        <p><%= @status.name %></p>
      </div>
      <div class="form-group">
        <%= label_tag :color %>
        <p><%= @status.color %><div style="width: 30px; height:30px; background:<%= @status.color %>;"</p>
      </div>
      <div class="form-group"></div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
