<script type="text/javascript">
$(document).ready(function(){
  $("input.datepicker").datepicker();
  $("select").selectize();
});
</script>
<% if @concert.errors.any? %>
<ul>
  <% @concert.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<div class="form-group">
  <%= f.label :venue_id %>
  <%= f.collection_select :venue_id, Venue.all, :id, :name, {include_blank: true}, placeholder: "Select venue", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :on_date %>
  <%= f.text_field :on_date, class: "datepicker form-control" %>
</div>
<div class="form-group">
  <%= f.label :status_id %>
  <%= f.collection_select :status_id, Status.all, :id, :name, {include_blank: true}, placeholder: "Select status", class: "form-control" %>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Bands</div>
  <div class="panel-body">
    <%= f.fields_for :concert_list do |b| %>
      <div class="form-group">
        <%= label_tag "Add band" %>
        <%= b.collection_select :band_id, Band.all, :id, :name, class: "form-control autocomplete" %>
        <%= b.hidden_field :concert_id %>
      </div>
      <div class="form-group">
        <%= link_to "New band", "#", class: "btn btn-sm btn-success pull-left" %>
        <%= b.submit "Add band", class: "btn btn-sm btn-primary pull-right" %>
      </div>
      <% end %>
      <div class="col-lg-12">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Band</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <% @concert.bands.each do |b| %>
            <tr>
              <td><%= b.name %></td>
              <td><%= b.country.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
